body {
  font: 16px 'Roboto Condensed', sans-serif;
}

.navbar{
  padding:20px;
  padding-left:50px;
}

.bg-dark {
    background-color: transparent !important;
}

#Landing{
    background-image: url("../images/Landing.png");
    background-repeat: no-repeat !important;
    background-size: cover;
    margin-top: -80px;
}

#Landing .col-md {
  margin-top: 125px;
  color:white;
  padding: 10px;
}

#deals .col-md{
  margin-top:60px;
}

#firstcol h1{
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
}

#firstcol #one{
  margin-top:75px;
}

.carousel-item-next,
.carousel-item-prev{
    display:block;
}

.jumbotron {
  background: linear-gradient(327deg, #138496, #ffffff) !important;
  background-size: 400% 400%;

  -webkit-animation: AnimationName 13s ease infinite;
  -moz-animation: AnimationName 13s ease infinite;
  animation: AnimationName 13s ease infinite;

  @-webkit-keyframes AnimationName {
      0%{background-position:0% 50%}
      50%{background-position:100% 50%}
      100%{background-position:0% 50%}
  }
  @-moz-keyframes AnimationName {
      0%{background-position:0% 50%}
      50%{background-position:100% 50%}
      100%{background-position:0% 50%}
  }
  @keyframes AnimationName {
      0%{background-position:0% 50%}
      50%{background-position:100% 50%}
      100%{background-position:0% 50%}
  }
}


@media only screen and (max-width: 766px) {
  #firstcol {
    visibility: hidden;
    margin-top: 0px;
    height: 125px;
  }
  #Landing .col-md {
    margin-top: 0px;
  }
  #carousel{
    visibility: hidden;
    height:20px;
  }
  #citypics{
    visibility: hidden;
    height: 5px;
  }
}

@media only screen and (max-width: 1440px) {
  #Landing{
    background-size: auto;
  }
}
